.card {
    width: 224px;
    height: 250px;
}

#city-container {
    width: 900px;
}

.card {
    background-color: #e2a1ba;
}

.text {
    color: rgb(235, 222, 222);
<<<<<<< HEAD:assets/style.css
}
=======
}
>>>>>>> e7f9ec0408b405057cf8194ce9ddbe13f3c8804e:style.css
